.earnings {
  margin-bottom: 1em;

  &__title { margin: 0; }

  &__status {
    &__approved,
    &__pending {
      display: block;
      margin-bottom: 0.5em;

      &:before {
        display: inline-block;
        content: '';
        width: 1em;
        height: 1em;
        margin-right: 0.5em;
        border-radius: 50%;
      }
    }

    &__approved:before { background-color: green; }

    &__pending:before { background-color: orange; }
  }
}
